.header-container {
  display: flex;
  flex-flow: row nowrap;
  background-color: red;
  justify-content: center;
  align-items: center;
  height: 25vh;
  padding: 12px;
}

.header-icon {
  position: absolute;
  left: 0;
  background-color: blue;
  padding: 9px;
}

.header-searchbar {
  background-color: yellow;
  padding: 9px;
}

.header-menu-button {
  position: absolute;
  right: 0;
  padding: 9px;
  margin-right: 25px;
  background-color: green;
}